body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.envelope {
  position: relative;
  width: 700px;
  height: 350px;
  background-color: #f0f0f0;
  border: 2px solid #333;

  cursor: pointer;
  transition: width 1s, height 1s;
}

#heart {
  top: 20%;
  position: relative;
  margin: auto;
  width: 100px;
  height: 90px;
}

#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: pink;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

#heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.paper {
  position: absolute;
  top: -150px;
  left: 10px;
  right: 10px;
  width: calc(100% - 20px);
  height: calc(200% - 20px);
  background-color: #fff;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
